name: Idris2 Build & Deploy

on:
  push:
    branches: ["main"]
    paths:
      - "**.idr"
      - "package.json"
      - "**.html"
      - "**.css"
      - "**.ipkg"
      - ".github/**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Idris 2 & Pack
        run: |
          sudo apt-get update
          sudo apt-get install -y chezscheme
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/stefan-hoeck/idris2-pack/main/install.bash)"
          echo "$HOME/.pack/bin" >> $GITHUB_PATH

      - name: Verify Idris 2 Installation
        run: idris2 --version

      - name: Build Web Artifacts
        run: npm run build:web

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web/dist
          target_branch: webpage
          fqdn: https://dice.hotaru.icu

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  build-repl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      
      - name: Install Idris 2 & Pack
        run: |
          sudo apt-get update
          sudo apt-get install -y chezscheme
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/stefan-hoeck/idris2-pack/main/install.bash)"
          echo "$HOME/.pack/bin" >> $GITHUB_PATH

      - name: Verify Idris 2 Installation
        run: idris2 --version

      - name: Run Tests
        run: npm run test

      - name: Build REPL Executable
        run: npm run build

      - name: Upload REPL Artifact
        uses: actions/upload-artifact@v4
        with:
          name: repl-executable
          path: ./repl/build/exec/Repl.js
